header{
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #333;
  color: white;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > span {
      cursor: pointer;
      &:hover {
      color: #888;
      }
    }

    ul {
      list-style: none;

      li {
        &:hover {
          cursor: pointer;
          color: #888;
        }
      }
    }
  }
}
